#content-body {
    text-indent: 80px; 
    text-align: center;
    line-height: 2.3em;
     color: blue;
   font-family: cursive;
    font-size: 1.5em;

}
#greeting {
   text-indent: 50px;
   color: blue;
   font-family: cursive;
   font-weight: bold;
   font-size: 2.0em;
}

.content-ending {
    text-indent: 100px; 
    text-align: center;
     color: blue;
   font-family: cursive;
    padding: 5%;
   
}

.content-End {
   text-indent: 120px; 
    color: blue;
   font-family: cursive;
   font-size: 2.4em;
   text-align: center;
}

*{
    background-color: aquamarine;
}

#salutation {
        color: blue;
   font-family: cursive;
   font-size: 2.4em;
}

h3 {
text-align: center;
color: violet;
border: 5px solid blue;
height: 200px; 
font-size: 2.5em;
}

#heartImage {
    border: 2px solid blue;
    border-radius: 70%;
    height: 200px; 
    width: 200px; 
    align-items: center;
    margin-left: 30%;
}